/** RESET */

html {
  font-size: 16px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

/** TYPOGRAPHY */
body {
  font-family: 'Work Sans', sans-serif;
}

/** LAYOUT */

.grid-gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.images {
  position: relative;
  max-width: 100%;
  /* height: auto;
  object-fit: cover; */
}

.images img {
  width: 100%;
}

.img-1 {
  grid-column: 1 / span 2;
}

.img-2 {
  grid-column: 3 / span 2;
}

.img-3 {
  grid-column: 5 / span 2;
}

.img-4 {
  grid-column: 1 / span 3;
}

.img-5 {
  grid-column: 4 / span 3;
}


.images__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
