/** RESET */

html {
    font-size: 16px;
    max-width: 960px;
    margin: auto;
    background-color: white;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: #cf2c30;
    font-size: large;
}


/** TYPOGRAPHY */

body {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
}

.main-wrapper {
    max-width: 960px;
    margin: 0 auto;
    width: auto;
    background-color: white;
}


/**  HEADER */

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    text-transform: uppercase;
}

.menu {
    display: flex;
}

.menu li:not(:last-child) {
    padding-right: 1.5rem;
}


/**  HERO SECTION */

.hero {
    display: flex;
    justify-content: center;
    background-image: url(./assets/hero.jpg);
    background-position: top;
    background-size: cover;
    height: 30rem;
    margin-bottom: 1rem;
    color: white;
    filter: brightness(0.9);
}

.hero h1 {
    padding-top: 5rem;
    font-size: 2.4rem;
    text-decoration: none;
}

.hero-link {
    text-decoration: none;
}


/** GALLERY LAYOUT */

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.75rem;
    /*12px*/
}

.grid-images {
    position: relative;
}

.grid-images img {
    filter: brightness(.6);
    width: 100%;
}

.img-1 {
    grid-column: 1 / span 2;
}

.img-2 {
    grid-column: 3 / span 2;
}

.img-3 {
    grid-column: 5 / 7;
}

.img-4 {
    grid-column: 1 / span 3;
}

.img-5 {
    grid-column: 4 / span 3;
}

.images__info {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(0, -50%);
    text-transform: uppercase;
    color: white;
}

.images__cta {
    width: 100%;
    text-transform: uppercase;
    padding: .2rem;
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    display: block;
    text-align: center;
    margin-top: .5rem;
}


/** FOOTER */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
}

.newsletter-img {
    width: 40px;
    margin-bottom: 0.5rem;
}

.newsletter-button {
    width: 200px;
    background-color: #cf2c30;
    padding: 0.3rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 1rem;
    font-size: 10px;
    background-color: #cf2c30;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 2rem;
}

.main-footer a {
    color: white;
    text-decoration: none;
    line-height: 2;
}

.main-footer a.list-title {
    font-weight: 700;
}

.social-links {
    display: flex;
}

.social-img {
    height: 1rem;
}

.social-img {
    padding-right: 1rem;
}

.main-footer p {
    color: white;
}

.flex-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/*WOMEN SHOES GALLERY*/


/*Breadcrumb*/

.breadcrumb {
    display: flex;
}

.breadcrumb>.b1 {
    flex-basis: 5%;
}

.breadcrumb>.b2 {
    flex-basis: 7%;
}

.breadcrumb>.b3 {
    flex-basis: 88%;
}

.breadcrumb>ul {
    text-transform: uppercase;
}


/*Main>Header*/

.title {
    text-align: center;
    margin: 15px 5px;
}

.title>h1 {
    font-weight: bold;
}

.title>p {
    font-weight: lighter;
    font-size: small;
}


/*Filter*/

.filter {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    list-style: none;
}

.filter>.filter1 {
    flex-basis: 5%;
}

.filter>.filter2 {
    flex-basis: 30%;
}

.filter>.filter3 {
    flex-basis: 30%;
}

.filter>.filter4 {
    flex-basis: 30%;
}

.filter>.filter5 {
    flex-basis: 5%;
}


/*font and padding style*/

.filter>.filter1 {
    text-transform: uppercase;
    font-weight: bolder;
}

.filter1 {
    margin-right: 15px;
}

.filter>.filter2 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 12px;
}

.filter2>option {
    text-transform: uppercase;
    font-weight: light;
    font-size: 12px;
}

.filter>.filter3 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 12px;
}

.filter3>option {
    text-transform: uppercase;
    font-weight: light;
    font-size: 12px;
}

.filter>.filter5 {
    text-transform: uppercase;
    font-weight: bold;
}


/*Gallery*/

.grid-women {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.75rem;
}

.grid-women h2 {
    font-weight: normal;
    font-size: 8px;
}

.grid-category {
    position: relative;
}

.shoe-3 {
    grid-column: 3 / 5;
}

.grid-category img {
    filter: brightness(.6);
    width: 100%;
    height: 300px;
}

.grid-category li {
    text-align: center;
    font-size: 8px;
    color: black;
}

.grid-category p {
    font-weight: bold;
}